/* Main CSS - Imports all style modules */

@import './assets/styles/theme.css';
@import './assets/styles/layout.css';
@import './assets/styles/typography.css';
@import './assets/styles/components.css';
@import './assets/styles/states.css';
@import './assets/styles/animations.css';
@import './assets/styles/button.css';
@import './assets/styles/input.css';
@import './assets/styles/cursor.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1); */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  direction: rtl;
  overflow: hidden;
}

#app {
  height: 100%;
  direction: inherit;
}

